body {
    width: 100%
}

li {
    list-style-type: none;
}

.jumbotron {
    border-style: solid;
    border-radius: 0;
}

.card-text {
    margin-left: -2.5rem;
    font-size: medium;
}

.card-text li {
    padding: 0.3rem;
}

.uvi-low {
    background-color: green;
}

.uvi-mid {
    background-color: yellow;
}

.uvi-high {
    background-color: red;
}

#one-day-forecast {
    margin-left: -1rem;
}

#one-day-forecast li {
    padding: 0.5rem;
}

#card-blocks {
    margin-right: -12rem;
}